**/.DS_Store
ECL/Spray's/Spray Automático/*
!ECL/Spray's/Spray Automático/spray-automatico.ECL
.vscode/
ECL/Consulta Roxie/GPUCache/*
ECL/Consulta Roxie/debug.log
ECL/eclcc.log
**/__pycache__/
fog/local/energy/service/*.csv
